.banner {
  position: relative;
  min-height: 90vh;
  background: url('/movie-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
}

/* black overlay */
.banner::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* keep text above overlay */
.banner > div {
  position: relative;
  z-index: 2;
}
.logo{
    width: 220px;
    
}
.nav{
  padding: 0 6rem;
}
.banner-heading{
  font-size: 55px;
  font-weight:800;
}
.red{
  background-color: rgb(229, 9, 20);
  font-weight: 600;
}
.form-control {
  color: white;
  background-color:rgba(17,16,16,0.7);
  border-color: gray;
}

.form-control::placeholder {
  color: #aaa;
}